<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>

	<packageSources>
		<add key="Nuget Gallery" value="https://api.nuget.org/v3/index.json" />
		<!-- Prypco private feed (Prypto.ServiceBusHelpers etc). Restore needs a GitHub PAT
		     with read:packages, same as the InstaMortgageService repo. -->
		<add key="github" value="https://nuget.pkg.github.com/Prypco/index.json" />
	</packageSources>
</configuration>
